In [1]:
--Total Revenue
SELECT SUM(total_price) AS Total_Price
FROM pizza_sales

Total_Price
817860.0508384705

In [2]:
--Total Revenue
SELECT SUM(total_price) AS Total_Price
FROM pizza_sales

Total_Price
817860.0508384705

In [3]:
--Total Pizzas Sold 
SELECT SUM(quantity) AS Total_Pizzas_Sold
FROM pizza_sales

Total_Pizzas_Sold
49574

In [4]:
--Total Orders 
SELECT COUNT(DISTINCT order_id) AS Total_orders
FROM pizza_sales

Total_orders
21350

In [5]:
--Avg Pizzas Sold per Order  - (Tot No of Pizzas Sold / Total No of Orders) 
SELECT CAST(CAST(SUM(quantity) AS DECIMAL(10,2)) /
CAST(COUNT(DISTINCT order_id) AS DECIMAL(10,2)) AS DECIMAL(10,2))
AS Avg_Pizzas_per_Order
FROM pizza_sales

Avg_Pizzas_per_Order
2.32

In [6]:
--Hourly Trend for total orders
SELECT DATEPART(HOUR, order_time) AS Order_hours, COUNT(DISTINCT order_id) 
AS Total_Orders
FROM pizza_sales
GROUP BY DATEPART(HOUR, order_time)
ORDER BY DATEPART(HOUR, order_time)

Order_hours,Total_Orders
9,1
10,8
11,1231
12,2520
13,2455
14,1472
15,1468
16,1920
17,2336
18,2399
19,2009
20,1642
21,1198
22,663
23,28

In [7]:
--Weekly Trend for Total Orders
SELECT DATEPART(ISO_WEEK, order_date) AS Week_Number, YEAR(order_date) AS Order_Year,
COUNT(DISTINCT order_id) AS total_orders
FROM pizza_sales
GROUP BY DATEPART(ISO_WEEK, order_date), YEAR(order_date)
ORDER BY DATEPART(ISO_WEEK, order_date), YEAR(order_date)

Week_Number,Order_Year,total_orders
1,2015,254
2,2015,427
3,2015,400
4,2015,415
5,2015,436
6,2015,422
7,2015,423
8,2015,393
9,2015,409
10,2015,420
11,2015,404
12,2015,416
13,2015,427
14,2015,433
15,2015,408
16,2015,414
17,2015,437
18,2015,423
19,2015,399
20,2015,458
21,2015,414
22,2015,390
23,2015,423
24,2015,418
25,2015,410
26,2015,416
27,2015,474
28,2015,417
29,2015,420
30,2015,433
31,2015,419
32,2015,426
33,2015,435
34,2015,407
35,2015,394
36,2015,397
37,2015,435
38,2015,423
39,2015,288
40,2015,433
41,2015,334
42,2015,386
43,2015,352
44,2015,371
45,2015,394
46,2015,400
47,2015,392
48,2015,491
49,2015,424
50,2015,417
51,2015,430
52,2015,298
53,2015,171

In [8]:
--Percentage of Sales by Pizza category
SELECT pizza_category, CAST(SUM(total_price) AS DECIMAL(10,2)) AS Total_revenue,
CAST(SUM(total_price) * 100 / (SELECT SUM(total_price) FROM pizza_sales)
AS DECIMAL(10,2)) AS PCT
FROM pizza_sales
GROUP BY pizza_category

pizza_category,Total_revenue,PCT
Classic,220053.10,26.91
Chicken,195919.50,23.96
Veggie,193690.45,23.68
Supreme,208197.00,25.46

In [9]:
--Percentage of Sales by Pizza Size
SELECT pizza_size, CAST(SUM(total_price) AS DECIMAL(10,2)) AS Total_Revenue,
CAST(SUM(total_price) * 100 / (SELECT SUM(total_price) FROM pizza_sales) 
AS DECIMAL(10,2)) AS PCT
FROM pizza_sales
GROUP BY pizza_size
ORDER BY pizza_size

pizza_size,Total_Revenue,PCT
L,375318.70,45.89
M,249382.25,30.49
S,178076.50,21.77
XL,14076.00,1.72
XXL,1006.60,0.12

In [10]:
--Top 5 Best Sellers by Revenue
SELECT TOP 5 pizza_name, SUM(total_price) AS Total_Revenue
FROM pizza_sales
GROUP BY pizza_name
ORDER BY Total_Revenue DESC

pizza_name,Total_Revenue
The Thai Chicken Pizza,43434.25
The Barbecue Chicken Pizza,42768
The California Chicken Pizza,41409.5
The Classic Deluxe Pizza,38180.5
The Spicy Italian Pizza,34831.25

In [11]:
--Bottom 5 Best Sellers by Revenue
SELECT TOP 5 pizza_name, SUM(total_price) AS Total_Revenue
FROM pizza_sales
GROUP BY pizza_name
ORDER BY Total_Revenue ASC

pizza_name,Total_Revenue
The Brie Carre Pizza,11588.499813079834
The Green Garden Pizza,13955.75
The Spinach Supreme Pizza,15277.75
The Mediterranean Pizza,15360.5
The Spinach Pesto Pizza,15596

In [12]:
--Top 5 Best Sellers by Total Quantity 
SELECT TOP 5 pizza_name, SUM(quantity) AS Total_Quantity
FROM pizza_sales
GROUP BY pizza_name
ORDER BY Total_Quantity DESC

pizza_name,Total_Quantity
The Classic Deluxe Pizza,2453
The Barbecue Chicken Pizza,2432
The Hawaiian Pizza,2422
The Pepperoni Pizza,2418
The Thai Chicken Pizza,2371

In [13]:
--Bottom 5 Best Sellers by Total Quantity 
SELECT TOP 5 pizza_name, SUM(quantity) AS Total_Quantity
FROM pizza_sales
GROUP BY pizza_name
ORDER BY Total_Quantity ASC

pizza_name,Total_Quantity
The Brie Carre Pizza,490
The Mediterranean Pizza,934
The Calabrese Pizza,937
The Spinach Supreme Pizza,950
The Soppressata Pizza,961

In [14]:
--Top 5 Best Sellers by Total Orders
SELECT TOP 5 pizza_name, COUNT(DISTINCT order_id) AS Total_Orders
FROM pizza_sales
GROUP BY pizza_name
ORDER BY Total_Orders DESC

pizza_name,Total_Orders
The Classic Deluxe Pizza,2329
The Hawaiian Pizza,2280
The Pepperoni Pizza,2278
The Barbecue Chicken Pizza,2273
The Thai Chicken Pizza,2225

In [15]:
--Bottom 5 Best Sellers by Total Orders
SELECT TOP 5 pizza_name, COUNT(DISTINCT order_id) AS Total_Orders
FROM pizza_sales
GROUP BY pizza_name
ORDER BY Total_Orders ASC

pizza_name,Total_Orders
The Brie Carre Pizza,480
The Mediterranean Pizza,912
The Spinach Supreme Pizza,918
The Calabrese Pizza,918
The Chicken Pesto Pizza,938